.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 17vw;
    padding: 3vw 3vw;
    transition: .2s;
}
.container a{
    color: black;
    text-decoration: none;
}
.card:hover{
    transform: scale(1.05);
}
.card h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 1.5rem;
}
.card .price{
    padding-top: .9rem;
    letter-spacing: 2px;
}
.card .img{
    max-height: 200px;
    max-width: 16vw ;
}
.img img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.viewMore{
    padding-top: 12px;
    display: flex;
    align-items: center;
}
.viewMore svg{
    margin-left: .3rem;
}