.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 2.4px;
  font-weight: 100;
  text-transform: uppercase;
  transition: .3s;
}

.btn-primary {
  background-color: #000;
  border: 1px solid #000000;
  color: #fff;
}
.btn-primary:hover:active {
  background-color: #4f4f4fa9;
}
.btn-primary:hover {
  color: #000;
  background-color: #ececec;
}

.btn-secondary {
  background-color: none;
  border: 1px solid #727272;
  color: #4b4b4b;
}
.btn-secondary:hover:active {
  background-color: #303030d7;
}
.btn-secondary:hover{
  color: #fff;
  background-color: #000;
}