.cart_num {
  font-size: small;
  position: absolute;
  top: -5px;
  left: 75%;
  background: #000000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}
.cart {
  position: relative;
}
