.cart-container{
    margin: 3vw 5vw;
    background-color: #fff;
    border: 1px solid #bbbbbb;
}
.cart-title{
    padding: 10px;
    margin: 1rem 4rem;
    border-bottom: #bbbbbb 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
}
.cart-content p {
    text-align: center;
    padding: 5rem 0 6rem 0;
    font-size: 1.4rem;
}